* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/Telluride_real_estate.jpg");
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin-right: 30px;
}

.nav-item {
  margin-left: 40px;
  color: antiquewhite;
  text-decoration: none;
  font-family: laca;
  font-size: 20px;
  font-weight: 100;
}

.nav-item:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.text {
  font-family: laca;
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  color: antiquewhite;
  align-self: flex-end;
  margin-left: 30px;
  margin-top: 30px;
}

.sub-text {
  font-family: laca;
  font-size: 30px;
  font-weight: 10;
  text-align: left;
  color: #181731;
  padding-left: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 40px;
  background-color: whitesmoke;
  border-radius: 10%;
  border: 2px solid;
  border-color: #181731;
  align-self: flex-start;
  width: 500px;
}

.select-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.select-dropdown {
  width: 50%;
}

.search-button {
  height: 50px;
  width: 120px;
  font-family: laca;
  font-size: 20px;
  color: antiquewhite;
  background-color: #181731;
  border-radius: 10%;
  margin-right: 30px;
  align-self: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-button:focus {
  outline: 0;
}

.auth-input {
  width: 200px;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.auth-button {
  width: 200px;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.signIn-container {
  display: flex;
  border: 2px solid;
  border-radius: 5%;
  flex-direction: column;
  background-color: antiquewhite;
  width: 600px;
  margin: auto;
}

.signIn-header {
  font-family: laca;
  text-align: center;
}
.card-section {
  padding-left: 30px;
}

.card-section-header {
  font-family: laca;
}
